<div class="dropdown text-center mt-2">
        <button class="btn btn-white btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Countries
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/India">India</a>
          <a class="dropdown-item" routerLink="/usa">USA</a>
          <a class="dropdown-item" routerLink="/dubai">Dubai</a>
          <a class="dropdown-item" routerLink="/russia">Russia</a>
        </div>
      </div>