<nav class="navbar text-dark navbar-expand-lg navbar-primary bg-primary">
    <a class="navbar-brand text-light" routerLink="">Stock Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="add-product">Add Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="get-all">Products</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="cart">Cart</a>
        </li>
      </ul>
     </div>
  </nav>