<form action="" class="col-md-4 offset-4 card card-body mt-5 mb-5 card card-body">
    <h1 class="text-center bg-success text-white">Company Requirement</h1>
    <br>
    <div class="form-group">
        <input type="text" name="name" id="name" style="width: 80%" class="form-group" placeholder="Candidate Name">
    </div>
    <div class="form-group">
            <input type="text" name="yop" id="yop" style="width: 80%" class="form-group" placeholder="Year of passedout">
    </div>
    <label for="">Skills</label>
    <!-- Material inline 1 -->
<div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
        <label class="form-check-label" for="materialInline1">1</label>
      </div>
      
      <!-- Material inline 2 -->
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
        <label class="form-check-label" for="materialInline2">2</label>
      </div>
      
      <!-- Material inline 3 -->
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
        <label class="form-check-label" for="materialInline3">3</label>
      </div>
</form>
